nav.navbar.u-hidden
  ul.navbar-list
    li.navbar-item.navbar-item--negative
      button.navbar-item-button.btn.js-button-cancel.u-hidden(type='button')
        | #{navbar.cancel}
    li.navbar-item.navbar-item--negative
      button.navbar-item-button.btn.js-button-again.u-hidden(type='button')
        | #{navbar.again}
    li.navbar-item.navbar-item--positive
      button.navbar-item-button.btn.js-button-kaleidome.u-hidden(type='button')
        | #{navbar.kaleidome}
    li.navbar-item.navbar-item--positive
      button.navbar-item-button.btn.js-button-share.u-hidden(type='button')
        | #{navbar.share}
    li.navbar-item.navbar-item--positive
      button.navbar-item-button.btn.js-button-tweet.u-hidden(disabled='', type='button')
        | #{navbar.tweet}
    li.navbar-item.navbar-item--positive
      button.navbar-item-button.btn.js-button-play-again.u-hidden(type='button')
        | #{navbar.playAgain}
